html,
body,
#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* min-width: 1366px; */
    /* background-color: #bfa; */
}

.el-breadcrumb{
    margin-bottom: 15px;
}

.el-card{
    box-shadow: 0 0 1 0.15;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}